# Dart config
.idea/
.pub/
packages/
build/
*.packages


# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
packages/analyzer/
packages/charcode/
packages/convert/
packages/crypto/
packages/glob/
packages/intl/
packages/isolate/
packages/package_config/
packages/petitparser/
packages/plugin/
packages/string_scanner/
packages/typed_data/
packages/watcher/
packages/yaml/
web/gfx/packages/analyzer/
web/gfx/packages/charcode/
web/gfx/packages/convert/
web/gfx/packages/crypto/
web/gfx/packages/glob/
web/gfx/packages/intl/
web/gfx/packages/isolate/
web/gfx/packages/package_config/
web/gfx/packages/petitparser/
web/gfx/packages/plugin/
web/gfx/packages/string_scanner/
web/gfx/packages/typed_data/
web/gfx/packages/watcher/
web/gfx/packages/yaml/
web/lib/packages/
web/packages/analyzer/
web/packages/charcode/
web/packages/convert/
web/packages/crypto/
web/packages/glob/
web/packages/intl/
web/packages/isolate/
web/packages/package_config/
web/packages/petitparser/
web/packages/plugin/
web/packages/string_scanner/
web/packages/typed_data/
web/packages/watcher/
web/packages/yaml/
web/styles/foundation/packages/analyzer/
web/styles/foundation/packages/charcode/
web/styles/foundation/packages/convert/
web/styles/foundation/packages/crypto/
web/styles/foundation/packages/glob/
web/styles/foundation/packages/intl/
web/styles/foundation/packages/isolate/
web/styles/foundation/packages/package_config/
web/styles/foundation/packages/petitparser/
web/styles/foundation/packages/plugin/
web/styles/foundation/packages/string_scanner/
web/styles/foundation/packages/typed_data/
web/styles/foundation/packages/watcher/
web/styles/foundation/packages/yaml/
web/styles/packages/analyzer/
web/styles/packages/charcode/
web/styles/packages/convert/
web/styles/packages/crypto/
web/styles/packages/glob/
web/styles/packages/intl/
web/styles/packages/isolate/
web/styles/packages/package_config/
web/styles/packages/petitparser/
web/styles/packages/plugin/
web/styles/packages/string_scanner/
web/styles/packages/typed_data/
web/styles/packages/watcher/
web/styles/packages/yaml/
web/video/packages/analyzer/
web/video/packages/charcode/
web/video/packages/convert/
web/video/packages/crypto/
web/video/packages/glob/
web/video/packages/intl/
web/video/packages/isolate/
web/video/packages/package_config/
web/video/packages/petitparser/
web/video/packages/plugin/
web/video/packages/string_scanner/
web/video/packages/typed_data/
web/video/packages/watcher/
web/video/packages/yaml/
web/pdf/
.packages
