div.row.full-width
{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

label.required::after
{
  content: " *";
}

table
{
  tr
  {
    td
    {
      font-size: 0.8rem !important;
      input, textarea, select, button
      {
        font-size:0.8rem !important;
        margin:0 !important;
        padding:0.4em !important;
        height: auto !important;
      }
    }
    td.required::after
    {
      content: " *";
    }
  }
}