//blue
$color_1: #0BADDB;
$color_1_light: #98D9EB;
//indigo
$color_2: #1E3362;
//gray
$color_3: #E9E9E9;
$color_3_light:#F0F0F0;
$color_3_dark: #6D6E72;
$color_3_header: #CECECE;
//white
$color_4: #FDFDFD;
$color_4_light:#FBFBFB;
$color_4_dark: #F8F8F8;
