@import "colors";

p.long-description-container
{
  border-bottom: 0.5em solid $color-1-light;
  padding-top: 1em;
}
div.long-description-container
{
  border-top: 1px solid $color_1_light;
  border-bottom: 1px solid $color_1_light;
  padding-top: 1em;
}