@import "colors";
@import "mixins";

$font_stack: Helvetica, sans-serif;

body
{
  opacity: 0;
  font-family: $font_stack;
  @include transition(opacity 0.5s ease);
  background-color: $color_3_dark;
}

video
{
  width:100%;
}
#header
{
  nav
  {
    li
    {
      display: inline-block;
      :after {
        content: " ";
        margin: 0.3em;
      }
    }
  }
}

#content
{
  .row
  {
    margin-bottom: 1rem;
    margin-top: 1rem;  }

  #left_blue_text
  {
    margin: 1em 0 1em 0;
    font-weight: 700;
    font-size: 1.4em;  }

  #pdf_publications_box
  {
    border: thin dashed $color_3_darker;
    padding: 0.5em;
    margin-bottom: 1em;

    .pdf_download_button
    {
      overflow: visible;
      padding: 0.3em;
      width: 4em;
      display: inline;
      img
      {
        height: 2.5em;
        width: 2.5em;
        transform: rotate(90deg);
        margin-left: -0.5em;
      }
    }
  }

  button
  {
    color: $color_2;
    background: $color_3_light;
    padding: 0.5em;
  }

  .link_description
  {
    color: $color_3_darker;
    display: block;
    padding-bottom: 0.3em;  }

  #search_box
  {
    background: $color_1_light;
    position: relative;
    margin-top: -3em;
    padding: 1.5em;
    input
    {
      height: 2em;
      margin-bottom: 0;
      color: $color_2;
    }
  }
}

#footer
{
  margin-top: -2em;
  a
  {
    img
    {
      height: 3em;
      margin-top: 1em;
      margin-bottom: 1em;
    }
  }
  .border-left
  {
    border-left: 1px solid $color_3;
  }
  .border-right
  {
    border-right: 1px solid $color_3;
  }
  padding-bottom: 2em;
  img.social_icon
  {
    display: inline;
    width: 1.25em;
    height: 1.25em;
    margin: 0 0 0.5em 0;
  }
  p
  {
    font-size: 0.6em;
  }
}

//headings
h2
{
  padding: 0.5em 0 0.5em 0;
  font-size: 1.8em;
  span
  {
    font-size: 0.6em;  } }
h3
{
  font-size: 1.5em;  }
h4
{
  font-size: 1em;  }

p
{
  text-align: justify;
  line-height: 1.5;
  color: $color_3_darker;
  font-size: 0.9em;
}

.form
{
  .row
  {
    margin-bottom:0.5rem !important;
    margin-top:0.5rem !important;
  }


  input[type="email"],input[type="text"]
  {
    height: 1.5em;
    background-color: $color_3_light;
    padding-left: 0.1em;
  }
  input [type="checkbox"]
  {
    background-color: $color_3_light;
  }
  textarea
  {
    background-color: $color_3_light;
  }
  span
  {
    font-size: 0.7em;
  }
  button#submit
  {
    background: white;
    color: $color_1_light;
    border: solid 1px $color_1_light;
    font-weight: bolder;
  }

}



.pdf_download_button
{
  overflow: visible;
  padding: 0.3em;
  width: 4em;
  display: inline;
  img
  {
    height: 2.5em;
    width: 2.5em;
    transform: rotate(90deg);
    margin-left: -0.5em;
  }
}

//color and gradient selectors
.color-white
{
  color: white;  }
.color-1
{
  color: $color_1;  }
.color-1-light
{
  color: $color_1_light;  }
.color-2
{
  color: $color_2;  }
.color-3
{
  color: $color_3;  }
.color-3-dark
{
  color: $color_3_darker;  }

.background-white
{
  background: white;  }
.background-color-2
{
  background-color: $color_2;  }
.background-color-3
{
  background: $color_3;  }
.background-color-3-light
{
  background: $color_3_light;  }

.background-color-1-light
{
  background: $color_1_light;  }
.white-gray-gradient
{ @include linear-gradient($color_4_light, $color_4, $color_3_light, $color_3_header);
}
.gray-white-gradient
{
  @include linear-gradient($color_3_light 12em, $color_3 30em, white 60em);
}
.box-shadow
{
  @include box-shadow(5px 10px 30px #999999);  }

.clickable
{
  @include user-select(none);
  cursor: pointer;
}

.invalid
{
  background-color: $color-error !important;
}

//font-weight
.bold
{
  font-weight: bold;  }
.bolder
{
  font-weight: bolder;
}
.normal
{
  font-weight: normal;  }
.bold-500
{
  font-weight: 500;  }

//margin padding and positioning
.padding-top-2
{
  padding-top: 2em;  }
.padding-top-1
{
  padding-top: 1em;
}
.padding-top-0-5
{
  padding-top: 0.5em;
}
.padding-top-1-5
{
  padding-top: 1.5em;  }
.padding-1-5
{
  padding-top:1.5em;
  padding-bottom:1.5em;  }
.padding-left-0-5
{
  padding-left:0.5em;  }
.float-left
{
  float: left;  }
.no-margin
{
  margin-bottom: 0 !important;
  margin-top: 0 !important;  }
.large-margin-left-1
{

  margin-left: 1em }
.margin-bottom-2
{
  margin-bottom: 2em;
}
.margin-top-4
{
  margin-top: 4em !important;
}
.margin-top-1
{
  margin-top: 1em;
}
//style
.overflow-visible
{
  overflow: visible;  }
.line-height-105
{
  line-height: 105%;
}
.blue-border
{
  border: solid 1px  $color_1_light;  }
.right-blue-border
{
  border-right: solid 1px  $color_1_light;  }
.left-blue-border
{
  border-left: solid 1px  $color_1_light;  }
.top-blue-border
{
  border-top: solid 0.1em  $color_1_light;  }
.bottom-blue-border
{
  border-bottom: solid 0.1em  $color_1_light;  }
.right-gray-border
{
  border-right: solid 0.1em  $color_3;
}
.twitter-container
{
  min-height:11em;
}

@media screen and (min-width: 64.063em)
{
  .large-border-left
  {
    border-left: 1px solid $color_3_darker;
  }
}


@media screen and (min-width: 40em)
{
  .medium-border-left
  {
    border-left: 1px solid $color_3_darker;
  }
}


@media screen and (max-width: 40em)
{
  .small-border-left
  {
    border-left: 1px solid $color_3_darker;
  }
  .large-margin-left-1
  {
    margin: 0;
  }
}


