@import "colors";
@import "mixins";

div.book-column
{
  min-height: 15.5em;

  img
  {
    border: 1px solid $color-2;
  }
}

.book-brief
{
  color: $color-1;
  position: absolute;
  padding: 1em;
  margin: 0 1em 0 0;
  background-color: white;
  border: 1px solid $color-1;
  max-width: 40em;
  text-align: left;
  z-index: 99;
  @include box-shadow(1px 1px 2px $color-1);
}

div.article-column
{
  div:first-child
  {
    .icon
    {
      cursor: pointer;
      width:3em;
      margin-left:0.5em;
    }
    padding: 0.5em;
    min-height: 9em;
    padding-top: 0.5em;
    margin-bottom: 2em;
    margin-right: 0.2em;
    background-color: $color-3-light;

  }
}